<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

  <title>File upload Node.</title>
</head>
<body>
<form id="uploadForm" enctype="multipart/form-data" method="post">
  Name: <input type="text" id="name"><br>
  LastName: <input type="text" id="lname"><br>
  <input type="file" name="userPhoto" multiple /><br>
   <input type="submit" value="Upload Image" name="submit"><br>


  <span id = "status"></span>
</form>

<a href="allFiles"> List All the files in Directory </a>

</body>
</html>